/* watchlistPage.module.css */
.watchlistContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

.watchlistHeader {
  margin-bottom: 30px;
}

.watchlistTitle {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 5px;
  font-family: "Neuzeit Grotesk Bold";
}

.watchlistSubtitle {
  font-size: 1rem;
  color: var(--text-secondary);
  font-family: "Inter";
}

.emptyWatchlist {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
}

.emptyIcon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--text-secondary);
}

.emptyTitle {
  font-family: "Neuzeit Grotesk Bold";
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.emptyText {
  font-family: "Inter";
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.discoverButton {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.2s;
  display: inline-block;
}

.discoverButton:hover {
  opacity: 0.85;
  /* background-color: var(--primary-dark); */
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movieItem {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
  overflow: hidden;
}

.moviePoster {
  position: relative;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

.moviePoster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.moviePoster:hover img {
  transform: scale(1.05);
}

.playOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moviePoster:hover .playOverlay {
  opacity: 1;
}

.playIcon {
  font-size: 3rem;
  color: white;
}

.movieInfo {
  padding: 15px;
}

.movieTitle {
  cursor: pointer;
  font-family: "Neuzeit Grotesk Bold";
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieDirector {
  font-family: "Inter";
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieActions {
  display: flex;
  justify-content: flex-end;
}

.removeButton {
  font-family: "Inter";
  padding: 6px 12px;
  background-color: var(--background-light);
  color: var(--text-primary);
  border-radius: 20px;
  font-size: 0.8rem;
  transition: background-color 0.2s;
}

.removeButton:hover:not(:disabled) {
  background-color: var(--background-dark);
}

.removeButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.premiumPrompt {
  margin-top: 30px;
  text-align: center;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
}

.premiumPrompt p {
  /* margin-top: 10px; */
  font-family: "Inter";
}

.upgradeButton {
  font-family: "Inter";
  /* margin-top: 15px; */
  /* margin-top: 5px; */
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.2s;
  display: inline-block;
  margin-bottom: 5px;
}

.upgradeButton:hover {
  background-color: var(--primary-dark);
}

/* Responsive */
@media (max-width: 768px) {
  .movieGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .movieGrid {
    grid-template-columns: 1fr;
  }
}
