/* premiumPage.module.css */
.premiumContainerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .premiumContainerWrapper {
    display: block !important;
  }
}

.premiumContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* margin-top: 30px; */
}

.premiumHeader {
  text-align: center;
  margin-bottom: 30px;
}

.premiumTitle {
  font-family: "Neuzeit Grotesk Bold";
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.premiumSubtitle {
  font-family: "Inter";
  font-size: 1.1rem;
  color: var(--text-secondary);
}

.premiumFeatures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .premiumFeatures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.featureItem {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px var(--shadow-color);
}

.featureIcon {
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 2px;
  margin-left: 4px;
}

.featureText {
  font-family: "Inter";
  font-weight: 500;
}

.premiumPlans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.planCard {
  font-family: "Inter";
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
  /* padding: 20px; */
  padding: 18px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  border: 2px solid transparent;
}

.planCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--shadow-color);
}

.selected {
  border-color: var(--primary-color);
}

.bestValue {
  border-color: #ffc107;
}

.bestBadge {
  /* font-family: "Neuzeit Grotesk Bold"; */
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ffc107;
  color: var(--text-primary);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

.planName {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.planPrice {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.planPerWeek {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.planSavings {
  font-size: 0.9rem;
  color: #4caf50;
  font-weight: 500;
  margin-bottom: 15px;
}

.planRadio {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.radioButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  position: relative;
}

.radioButtonSelected::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.subscriptionTerms {
  font-family: "Inter";
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 30px;
  padding: 0 20px;
}

.termsLink {
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

.subscriptionActions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  margin: 0 auto;
}

.subscribeButton {
  font-family: "Inter";
  padding: 12px 0;
  background-color: var(--primary-color);
  color: white;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.subscribeButton:hover {
  opacity: 0.85;
  /* background-color: var(--primary-dark); */
}

.cancelButton {
  /* padding: 12px 0; */
  background-color: transparent;
  color: var(--text-secondary);
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .premiumPlans {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
